includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon

parameters:
	level: max
	tmpDir: var/cache/phpstan
	paths:
		- .
		- bin/console
		- bin/phpunit
	excludePaths:
		- assets/vendor/*
		- config/reference.php
		- tools/vendor/*
		- var/*
		- vendor/*
	bootstrapFiles:
		- vendor/deployer/deployer/src/Host/Host.php
		- vendor/deployer/deployer/src/functions.php

	symfony:
		containerXmlPath: var/cache/dev/Continuum_KernelDevDebugContainer.xml
		consoleApplicationLoader: tests/console-application.php
	doctrine:
		objectManagerLoader: tests/object-manager.php

	ignoreErrors:
		- identifier: doctrine.finalEntity
