:root {
    --font-size: 1rem;
    --font-size-medium: calc(var(--font-size) * 0.875);
    --font-size-small: calc(var(--font-size) * 0.75);

    --font-weight-light: 200;
    --font-weight: 300;
    --font-weight-bold: 400;

    --color-red: oklch(63.7% 0.237 25.331);
    --color-orange: oklch(70.5% 0.213 47.604);
    --color-amber: oklch(76.9% 0.188 70.08);
    --color-yellow: oklch(79.5% 0.184 86.047);
    --color-lime: oklch(76.8% 0.233 130.85);
    --color-green: oklch(62.7% 0.194 149.214); /* oklch(72.3% 0.219 149.579) */
    --color-emerald: oklch(69.6% 0.17 162.48);
    --color-teal: oklch(70.4% 0.14 182.503);
    --color-cyan: oklch(71.5% 0.143 215.221);
    --color-sky: oklch(68.5% 0.169 237.323);
    --color-blue: oklch(62.3% 0.214 259.815);
    --color-indigo: oklch(58.5% 0.233 277.117);
    --color-violet: oklch(60.6% 0.25 292.717);
    --color-purple: oklch(62.7% 0.265 303.9);
    --color-fuchsia: oklch(66.7% 0.295 322.15);
    --color-pink: oklch(65.6% 0.241 354.308);
    --color-rose: oklch(64.5% 0.246 16.439);
    --color-slate: oklch(55.4% 0.046 257.417);
    --color-gray: oklch(55.1% 0.027 264.364);
    --color-zinc: oklch(55.2% 0.016 285.938);
    --color-neutral: oklch(55.6% 0 0);
    --color-stone: oklch(55.3% 0.013 58.071);
    --color-light: oklch(0.982 0 89.876);
    --color-dark: oklch(0.262 0.009 248.19);

    --color: var(--color-dark);
    --color-inverse: var(--color-light);
    --general-color: var(--color);

    --body-background-color: var(--color-inverse);
    --background-color: #fff;

    --link-color: var(--color-blue);

    --header-height: 40px;

    --sidebar-width: 190px;
    --sidebar-collapsed-width: 40px;

    --gap-block: 1rem;
    --gap-inline: 1rem;
    --body-gap-block: calc(var(--gap-block) * 1.5);
    --body-gap-inline: calc(var(--gap-inline) * 1.5);

    --border-width: 1px;
    --border-color: oklch(0.911 0.007 247.901);
    --border-radius: .5rem;
    --body-border-width: var(--border-width);
    --body-border-color: color-mix(in oklch, var(--border-color) 50%, transparent);
    --body-border-radius: calc(var(--border-radius) * 2);

    --control-padding-inline: .75rem;
    --control-padding-block: calc(var(--control-padding-inline) / 2);
    --control-border-color: var(--border-color);

    --transparent-color: 60%;
    --transparent-color-tiny: 80%;
}

[data-theme="dark"] {
    --color-green: oklch(72.3% 0.219 149.579);
    --color-light: oklch(0.911 0.007 247.901);

    --color: var(--color-light);
    --color-inverse: var(--color-dark);

    --background-color: color-mix(in srgb, var(--body-background-color) 98%, #fff);

    --border-color: oklch(0.345 0.013 248.212);

    --control-border-color: oklch(0.428 0.015 248.172);
}

[data-general-type="red"] {
    --general-color: var(--color-red);
}

[data-general-type="orange"] {
    --general-color: var(--color-orange);
}

[data-general-type="amber"] {
    --general-color: var(--color-amber);
}

[data-general-type="yellow"] {
    --general-color: var(--color-yellow);
}

[data-general-type="lime"] {
    --general-color: var(--color-lime);
}

[data-general-type="green"] {
    --general-color: var(--color-green);
}

[data-general-type="emerald"] {
    --general-color: var(--color-emerald);
}

[data-general-type="teal"] {
    --general-color: var(--color-teal);
}

[data-general-type="cyan"] {
    --general-color: var(--color-cyan);
}

[data-general-type="sky"] {
    --general-color: var(--color-sky);
}

[data-general-type="blue"] {
    --general-color: var(--color-blue);
}

[data-general-type="indigo"] {
    --general-color: var(--color-indigo);
}

[data-general-type="violet"] {
    --general-color: var(--color-violet);
}

[data-general-type="purple"] {
    --general-color: var(--color-purple);
}

[data-general-type="fuchsia"] {
    --general-color: var(--color-fuchsia);
}

[data-general-type="pink"] {
    --general-color: var(--color-pink);
}

[data-general-type="rose"] {
    --general-color: var(--color-rose);
}

[data-general-type="slate"] {
    --general-color: var(--color-slate);
}

[data-general-type="stone"] {
    --general-color: var(--color-stone);
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    margin: 0;
    font-size: var(--font-size);
    font-family: "Inter", sans-serif;
    font-weight: var(--font-weight);
    line-height: 1;
    color: var(--color);
    background-color: var(--body-background-color);
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;
    transition: transform .15s;

    > .sidebar {
        grid-row: 2;
        grid-column: 1;
    }

    > .header {
        grid-column: 1 / 3;
    }

    > .body {
        grid-row: 2;
        grid-column: 2;
    }

    [data-egg-bird="1"] & {
        transform: scaleX(-1);
    }

    [data-egg-bird="2"] & {
        transform: scaleX(-1) scaleY(-1);
    }

    [data-egg-bird="3"] & {
        transform: scaleY(-1);
    }
}

h6, h5, h4, h3, h2, h1 {
    margin-top: 0;
    margin-bottom: var(--gap-block);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: var(--gap-block);
}

strong {
    font-weight: var(--font-weight-bold);
}

a {
    --link-color-transparent: 90%;

    color: color-mix(in srgb, var(--link-color) var(--link-color-transparent), var(--color));
    text-decoration: underline;

    &:hover {
        --link-color-transparent: 100%;
    }
}

button {
    border-radius: 0;

    &:focus:not(:focus-visible) {
        outline: 0;
    }

    &:not(:disabled) {
        cursor: pointer;
    }
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
}

.mb-3 {
    margin-bottom: var(--gap-block);
}

.icon-fix-top {
    transform: translateY(-1px);
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--body-gap-block) var(--body-gap-inline) 0 calc(var(--sidebar-width) + var(--body-gap-inline) + var(--body-gap-inline));
    background-color: var(--body-background-color);
    z-index: 100;

    &:after {
        --clr: var(--body-background-color);
        --clr_33: color-mix(in oklch, var(--clr) 90%, transparent);
        --clr_66: color-mix(in oklch, var(--clr) 40%, transparent);

        content: '';
        position: absolute;
        left: 0;
        bottom: calc(var(--body-gap-block) * -1);
        height: var(--body-gap-block);
        width: 100%;
        background: linear-gradient(180deg, var(--clr), var(--clr_33), var(--clr_66), transparent);
    }

    .header-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: var(--header-height);
        padding-inline: var(--body-gap-inline);
        border: var(--body-border-width) solid var(--body-border-color);
        border-radius: var(--body-border-radius);
        background-color: var(--background-color);

        .header-logo {
            position: absolute;
            left: var(--body-gap-inline);
            display: flex;
            align-items: center;
            height: var(--header-height);
            width: var(--sidebar-width);

            .header-logo-link {
                --logo-font-size: calc(var(--font-size) * 1.25);

                display: flex;
                align-items: center;
                gap: calc(var(--gap-inline) / 2);
                width: 100%;
                padding-inline: calc(var(--gap-inline) * .375);
                font-size: var(--logo-font-size);
                color: var(--color);
                text-decoration: none;
                transition: color .15s, transform .15s;

                > svg {
                    height: calc(var(--logo-font-size) * 1.4);
                    width: calc(var(--logo-font-size) * 1.4);
                    color: var(--link-color);
                }

                &:hover {
                    color: var(--link-color);
                }

                &:active {
                    transform: translateY(1px);
                }
            }
        }

        .header-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: calc(var(--body-gap-inline) / 4);
            margin-left: auto;
        }

        .header-button {
            display: flex;
            padding: calc(var(--control-padding-block) / 1.2) calc(var(--control-padding-inline) / 1.5);
            color: var(--color);
            border: 0;
            border-radius: var(--border-radius);
            background: none;
            transition: color .15s, background-color .15s;

            &:hover,
            &:focus-visible {
                --h-b-color-transparent: 10%;

                color: var(--link-color);
                background-color: color-mix(in oklch, var(--link-color) var(--h-b-color-transparent), transparent);

                [data-theme="dark"] & {
                    --h-b-color-transparent: 15%;
                }
            }

            &#theme-toggler {
                & > * {
                    display: flex;
                }

                & > .theme-dark {
                    display: none;
                }

                [data-theme="dark"] & {
                    & > .theme-light {
                        display: none;
                    }

                    & > .theme-dark {
                        display: inherit;
                    }
                }
            }
        }

        .header-divider {
            height: calc(var(--header-height) / 2);
            margin-inline: calc(var(--body-gap-inline) / 4);
            border-left: var(--border-width) solid var(--body-border-color);
        }

        .header-events {
            position: relative;

            .dropdown-menu {
                --dropdown-offset: calc(var(--body-gap-block) / 2);

                position: absolute;
                top: -100vw;
                right: calc(var(--gap-inline) * -1);
                display: flex;
                flex-direction: column;
                gap: calc(var(--gap-block) / 4);
                margin: 0;
                padding: calc(var(--gap-block) / 1.5) calc(var(--gap-inline) / 1.5);
                padding-top: calc(calc(var(--gap-block) / 1.5) + var(--dropdown-offset));
                list-style: none;
                opacity: 0;
                z-index: 1;
                transition: opacity .15s;

                &:before {
                    position: absolute;
                    content: '';
                    inset: 0;
                    top: var(--dropdown-offset);
                    border: var(--body-border-width) solid var(--body-border-color);
                    border-radius: var(--body-border-radius);
                    background-color: var(--background-color);
                }

                &:after {
                    position: absolute;
                    content: '';
                    right: calc(var(--gap-inline) + 10px);
                    top: calc(var(--dropdown-offset) / 2);
                    width: var(--dropdown-offset);
                    height: var(--dropdown-offset);
                    border-top: var(--body-border-width) solid var(--body-border-color);
                    border-right: var(--body-border-width) solid var(--body-border-color);
                    background-color: var(--background-color);
                    transform: rotate(-45deg) skew(-10deg, -10deg);
                }

                .dropdown-item {
                    position: relative;
                    white-space: nowrap;

                    .dropdown-link {
                        display: inline-flex;
                        align-items: center;
                        width: 100%;
                        gap: calc(var(--gap-inline) / 3);
                        padding: calc(var(--gap-block) / 2) calc(var(--gap-inline) / 2);
                        font-size: var(--font-size-medium);
                        text-decoration: none;
                        color: var(--color);
                        border-radius: var(--border-radius);
                        transition: background-color .15s;

                        &:hover {
                            --d-i-color-transparent: 5%;

                            background-color: color-mix(in oklch, var(--color-gray) var(--d-i-color-transparent), transparent);

                            [data-theme="dark"] & {
                                --d-i-color-transparent: 10%;
                            }
                        }
                    }

                    .dropdown-divider {
                        height: 0;
                        margin-block: calc(var(--gap-block) / 3);
                        border: 0;
                        border-top: var(--border-width) solid var(--border-color);
                        opacity: .5;
                    }
                }
            }

            &:hover {
                .header-button {
                    color: var(--link-color);
                    background-color: color-mix(in oklch, var(--link-color) 10%, transparent);
                    cursor: default;
                }

                .dropdown-menu {
                    top: 100%;
                    opacity: 1;
                }
            }
        }
    }

    [data-sidebar="collapsed"] & {
        --sidebar-width: var(--sidebar-collapsed-width);

        .header-logo-link > span {
            display: none;
        }
    }
}

.sidebar {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-inline: var(--body-gap-inline);
    overflow-y: auto;
    z-index: 50;

    .navbar {
        padding-block: var(--body-gap-block);
        width: var(--sidebar-width);

        .navbar-nav {
            --nav-link-gap: calc(var(--gap-inline) / 2);
            --nav-link-padding: var(--control-padding-inline);

            display: flex;
            flex-direction: column;
            gap: calc(var(--gap-block) / 4);
            padding: 0;
            margin: 0;
            list-style: none;

            .nav-item {
                .nav-link {
                    display: flex;
                    gap: var(--nav-link-gap);
                    width: 100%;
                    padding: var(--nav-link-padding);
                    color: var(--color);
                    text-decoration: none;
                    background: none;
                    border: 0;
                    border-radius: var(--border-radius);
                    transition: color .15s, background-color .15s;

                    &:hover {
                        background-color: color-mix(in oklch, var(--color-gray) 5%, transparent);
                    }

                    &.active {
                        color: var(--link-color);
                        background-color: color-mix(in oklch, var(--link-color) 10%, transparent);
                    }

                    .dropdown-toggle-chevron {
                        margin-left: auto;
                        transition: transform .15s;
                    }
                }

                .nav-dropdown {
                    display: none;
                    margin: .1rem 0 .25rem 1rem;
                    gap: calc(var(--gap-block) / 6);

                    .nav-link {
                        gap: calc(var(--nav-link-gap) * .8);
                        padding: calc(var(--nav-link-padding) * .8);
                        font-size: var(--font-size-medium);
                        opacity: .75;
                    }
                }

                &.dropdown-active {
                    & > .nav-link {
                        .dropdown-toggle-chevron {
                            transform: rotate(90deg);
                        }
                    }

                    .nav-dropdown {
                        display: inherit;
                    }
                }
            }

            .nav-title-divider {
                display: block;
                margin-top: var(--gap-block);
                margin-bottom: calc(var(--gap-block) / 4);
                padding-inline: var(--nav-link-padding);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-light);
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: default;
                overflow: hidden;
                opacity: .5;
            }

            .nav-divider {
                height: 0;
                margin-block: calc(var(--gap-block) / 2);
                border: 0;
                border-top: var(--border-width) solid var(--border-color);
                opacity: .5;
                overflow: hidden;
            }
        }
    }

    [data-sidebar="collapsed"] & {
        --sidebar-width: var(--sidebar-collapsed-width);

        .navbar {
            .nav-link > span,
            .dropdown-toggle-chevron {
                display: none;
            }

            .nav-item.dropdown {
                & > .nav-link {
                    cursor: default;
                }

                .nav-dropdown {
                    position: absolute;
                    display: inherit;
                    left: -100vw;
                    margin: 0;
                    padding: .6rem .6rem .6rem 1.1rem;
                    transform: translateY(-45px);
                    opacity: 0;
                    transition: opacity .15s;

                    .nav-link {
                        white-space: nowrap;

                        & > span {
                            display: inherit;
                        }
                    }

                    &:before {
                        position: absolute;
                        content: '';
                        inset: 0;
                        left: .5rem;
                        border: var(--body-border-width) solid var(--body-border-color);
                        border-radius: var(--body-border-radius);
                        background-color: var(--background-color);
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        top: 21px;
                        left: 3px;
                        width: .6rem;
                        height: .6rem;
                        border-top: var(--body-border-width) solid var(--body-border-color);
                        border-left: var(--body-border-width) solid var(--body-border-color);
                        background-color: var(--background-color);
                        transform: rotate(-45deg);
                    }
                }

                &:hover {
                    .nav-dropdown {
                        left: 100%;
                        opacity: 1;
                    }
                }
            }

            .nav-title-divider {
                margin-inline: calc(var(--gap-inline) / 2 * -1);
                padding-inline: 0;
                font-size: calc(var(--font-size-small) * .8);
                text-align: center;
            }
        }
    }
}

.body {
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-y: auto;

    .body-container {
        padding: var(--body-gap-block) var(--body-gap-inline);
        padding-left: 0;

        & > *:not(.card) {
            padding-inline: var(--gap-inline);
        }

        .body-messages {
            display: none;
            flex-direction: column;
            gap: calc(var(--gap-block) / 2);
            margin-bottom: var(--body-gap-block);
            padding-inline: 0;

            &:has(*) {
                display: flex;
            }

            .alert {
                margin-bottom: 0;
                font-size: var(--font-size-medium);
                border-radius: var(--body-border-radius);
            }
        }
    }

    .footer-container {
        display: flex;
        align-items: center;
        padding: var(--body-gap-block) var(--body-gap-inline);
        padding-left: 0;
        font-size: var(--font-size-small);

        .footer-datetime {
            display: flex;
            padding-inline: var(--gap-inline);
            cursor: default;
            opacity: .25;

            & > span + span {
                margin-left: calc(var(--gap-inline) / 2);
                padding-left: calc(var(--gap-inline) / 2);
                border-left: var(--border-width) solid color-mix(in oklch, var(--color) 50%, transparent);
            }
        }

        .footer-controls {
            display: flex;
            gap: var(--gap-inline);
            padding-inline: var(--gap-inline);
            margin-left: auto;
        }

        .footer-toolbar,
        .footer-bird {
            display: flex;
            gap: calc(var(--gap-inline) / 4);
            transform: scaleX(-1);

            & > div {
                opacity: .25;
                transition: color .15s, opacity .3s;

                &:hover {
                    color: var(--link-color);
                    cursor: pointer;
                    opacity: 1;
                }

                &:active {
                    transform: translateY(-1px);
                }
            }
        }
    }
}

.sf-toolbar {
    display: none !important;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: calc(var(--body-gap-block) / 4);
    margin-bottom: var(--body-gap-block);
    font-size: var(--font-size-medium);
    list-style: none;

    .breadcrumb-item {
        cursor: default;

        & + & {
            padding-left: calc(var(--gap-inline) / 3);

            &::before {
                content: '/';
                float: left;
                padding-right: calc(var(--gap-inline) / 3);
            }
        }

        & + &::before,
        &:not(:last-child) {
            font-weight: var(--font-weight-light);
            color: color-mix(in oklch, var(--color) 70%, transparent);
        }

        a {
            text-decoration: none;

            &:not(:hover, :focus-visible) {
                color: inherit;
            }
        }
    }
}

.form-row {
    --form-row-columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--form-row-columns), 1fr);
    gap: var(--gap-block) calc(var(--gap-inline) / 2);
    margin-bottom: var(--gap-block);

    & > * {
        margin-bottom: 0;
    }

    &.form-row-2 {
        --form-row-columns: 2;
    }

    &.form-row-sm-3 {
        @media (width >= 576px) {
            --form-row-columns: 3;
        }
    }
}

.form-label {
    display: inline-block;
    margin-bottom: calc(var(--gap-block) / 2);
    font-size: var(--font-size-medium);
    color: color-mix(in oklch, var(--color) 70%, transparent);
}

.form-control {
    display: block;
    width: 100%;
    padding: var(--control-padding-block) var(--control-padding-inline);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: 1;
    color: var(--color);
    appearance: none;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: var(--border-width) solid var(--control-border-color);
    border-radius: var(--border-radius);
    transition: border-color .15s, box-shadow .15s;

    &:focus {
        color: var(--color);
        background-color: var(--background-color);
        border-color: color-mix(in oklch, var(--link-color) var(--transparent-color), transparent);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    &::placeholder {
        color: color-mix(in oklch, var(--color) 25%, transparent);
        opacity: 1;
    }

    .was-validated &:invalid,
    &.is-invalid {
        border-color: color-mix(in oklch, var(--color-red) var(--transparent-color), transparent);
    }
}

.form-check-input {
    flex-shrink: 0;
    width: var(--font-size);
    height: var(--font-size);
    vertical-align: top;
    appearance: none;
    background-color: var(--background-color);
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--border-width) solid var(--control-border-color);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;

    &[type=checkbox] {
        border-radius: calc(var(--border-radius) / 2);
    }

    &[type=radio] {
        border-radius: 50%;
    }

    &:focus {
        border-color: color-mix(in oklch, var(--link-color) var(--transparent-color), transparent);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    &:checked {
        border-color: transparent;
        background-color: color-mix(in oklch, var(--color-blue) var(--transparent-color), transparent);

        &[type=checkbox] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
        }

        &[type=radio] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }
    }

    .was-validated &:invalid,
    &.is-invalid {
        border-color: color-mix(in oklch, var(--color-red) var(--transparent-color), transparent);
    }
}

.form-check {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-inline) / 4);
}

.form-control-radio-type-group {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap-inline) / 4);

    .form-control-radio-type {
        display: inline-flex;

        & input[type="radio"] {
            display: none;
        }

        & .btn {
            --btn-general-color: var(--general-color);
            --btn-border-color-transparent: 0%;
            --btn-background-color-transparent: var(--transparent-color);

            [data-theme="dark"] & {
                --btn-color: var(--color-light);
            }
        }

        &:not(:has(input[type="radio"]:checked)) .btn {
            --btn-color: var(--btn-general-color);
            --btn-border-color-transparent: 0%;
            --btn-background-color-transparent: 15%;

            &:hover {
                --btn-border-color-transparent: 50%;
            }
        }
    }
}

.form-control-time {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-inline) / 2);

    & > input[type="time"] {
        width: 150px;
    }

    & > .btn {
        --btn-border-color-transparent: 0;
        --btn-background-color-transparent: 0;
        --btn-color: var(--btn-general-color);
        padding-inline: var(--control-padding-block);

        &:hover {
            --btn-general-color: var(--link-color);
            --btn-background-color-transparent: 5%;
        }
    }
}

.form-text {
    margin-top: calc(var(--gap-block) / 4);
    font-size: var(--font-size-small);
    color: color-mix(in oklch, var(--color) 50%, transparent);
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: calc(var(--gap-block) / 4);
    font-size: var(--font-size-medium);
    color: var(--color-red);

    .was-validated :invalid ~ &,
    .is-invalid ~ & {
        display: block;
    }
}

.btn {
    --btn-general-color: var(--color);
    --btn-color: var(--color-inverse);
    --btn-border-color: var(--btn-general-color);
    --btn-border-color-transparent: var(--transparent-color);
    --btn-background-color: var(--btn-general-color);
    --btn-background-color-transparent: var(--transparent-color);

    display: inline-flex;
    gap: var(--control-padding-block);
    align-items: center;
    padding: var(--control-padding-block) var(--control-padding-inline);
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.25;
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--border-width) solid color-mix(in oklch, var(--btn-border-color) var(--btn-border-color-transparent), transparent);
    border-radius: var(--border-radius);
    background-color: color-mix(in oklch, var(--btn-background-color) var(--btn-background-color-transparent), transparent);
    transition: color .15s, background-color .15s, border-color .15s;

    &:hover {
        --btn-border-color-transparent: calc(var(--transparent-color) + 10%);
        --btn-background-color-transparent: calc(var(--transparent-color) + 10%);
    }

    &:focus-visible {
        outline: 0;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    &.btn-xs {
        padding: calc(var(--control-padding-block) / 3) calc(var(--control-padding-inline) / 3);
        font-size: var(--font-size-small);
        border-radius: calc(var(--border-radius) * 0.5);
    }

    &.btn-sm {
        padding: calc(var(--control-padding-block) / 3 * 2) calc(var(--control-padding-inline) / 3 * 2);
        font-size: var(--font-size-medium);
        border-radius: calc(var(--border-radius) * 0.8);
    }

    &.btn-primary {
        --btn-general-color: var(--color-blue);
    }

    &.btn-success {
        --btn-general-color: var(--color-green);
    }

    &.btn-danger {
        --btn-general-color: var(--color-red);
    }

    &.btn-warning {
        --btn-general-color: var(--color-yellow);
    }

    &.btn-info {
        --btn-general-color: var(--color-cyan);
    }

    &.btn-secondary {
        --btn-general-color: var(--color-gray);
    }

    &.btn-outline {
        &:not(:hover) {
            --btn-color: var(--btn-general-color);
            --btn-background-color-transparent: 0%;
        }
    }

    &.btn-transparent {
        --btn-color: var(--btn-general-color);
        --btn-border-color-transparent: 0%;
        --btn-background-color-transparent: 15%;

        &:hover {
            --btn-background-color-transparent: 25%;
        }
    }
}

.alert {
    --alert-color: var(--color);
    --alert-background-color-transparent: 10%;

    position: relative;
    padding: calc(var(--gap-block) * 0.75) var(--gap-block);
    margin-bottom: var(--gap-block);
    color: color-mix(in srgb, var(--alert-color) var(--transparent-color-tiny), var(--color));
    border: var(--border-width) solid color-mix(in oklch, var(--alert-color) 20%, transparent);
    border-radius: var(--border-radius);
    background-color: color-mix(in oklch, var(--alert-color) var(--alert-background-color-transparent), transparent);

    a {
        color: inherit;
        font-weight: var(--font-weight-bold);
    }

    &.alert-primary {
        --alert-color: var(--color-blue);
    }

    &.alert-success {
        --alert-color: var(--color-green);
    }

    &.alert-danger {
        --alert-color: var(--color-red);
    }

    &.alert-warning {
        --alert-color: var(--color-yellow);
    }

    &.alert-info {
        --alert-color: var(--color-cyan);
    }

    &.alert-secondary {
        --alert-color: var(--color-gray);
    }

    &.alert-timezone-mismatch {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: calc(var(--gap-block) / 4);
    }
}

.card {
    padding: var(--body-gap-block) var(--body-gap-inline);
    margin-bottom: var(--body-gap-block);
    border: var(--body-border-width) solid var(--body-border-color);
    border-radius: var(--body-border-radius);
    background-color: var(--background-color);

    .card-title {
        margin-bottom: var(--body-gap-block);
    }

    .card-submit {
        margin-top: var(--body-gap-block);
    }
}

.progress {
    --progress: 0%;
    --progress-height: calc(var(--gap-block) / 2);
    --progress-color: var(--color-green);
    --progress-color-transparent: 10%;
    --progress-border-width: var(--border-width);
    --progress-border-radius: calc(var(--border-radius) / 2);

    display: flex;
    height: var(--progress-height);
    width: 100%;
    background-color: color-mix(in oklch, var(--progress-color) var(--progress-color-transparent), transparent);
    border: var(--progress-border-width) solid color-mix(in oklch, var(--progress-color) var(--progress-color-transparent), transparent);
    border-radius: var(--progress-border-radius);

    .progress-bar {
        position: relative;
        display: inline-flex;
        height: calc(var(--progress-border-width) * 2 + 100%);
        width: calc(var(--progress-border-width) * 2 + var(--progress));
        margin: calc(var(--progress-border-width) * -1);
        background-color: color-mix(in srgb, var(--progress-color) var(--transparent-color), var(--background-color));
        border-radius: var(--progress-border-radius);
        transition: width .3s;
    }
}

.progress-group {
    display: flex;
    align-items: center;
    gap: calc(var(--body-gap-inline) / 1.5);
    width: 100%;

    .progress-text {
        font-size: var(--font-size-medium);
        white-space: nowrap;
        user-select: none;
        opacity: .5;
    }
}

.calendar-pagination {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-inline) * .6);
    margin-bottom: calc(var(--body-gap-block) / 1.5);

    .page-link {
        display: inline-flex;
        padding: calc(var(--gap-block) / 4) calc(var(--gap-inline) / 4);
        font-size: var(--font-size-medium);
        color: var(--color);
        text-decoration: none;
        opacity: .7;
        transition: color .15s, opacity .15s;

        & > svg {
            --link-transform-rotate: ;
            --link-transform-translate: ;

            transition: transform .15s;
            transform: var(--link-transform-rotate) var(--link-transform-translate);
        }

        &.page-link-prev > svg {
            --link-transform-rotate: rotate(180deg);
        }

        &:hover {
            color: var(--link-color);
            opacity: 1;

            & > svg {
                --link-transform-translate: translateX(2px);
            }
        }
    }

    h2 {
        margin-bottom: 0;
        cursor: default;
    }
}

.calendar {
    --grid-month-columns: 2;
    --gap-month-days: .5vw;
    --grid-day-columns: 7;
    --day-font-size: 2.8vw;
    --day-border-radius: calc(var(--day-font-size) / 1.6);
    --day-badge-size: 1.4vw;

    display: grid;
    grid-template-columns: repeat(var(--grid-month-columns), 1fr);
    gap: var(--body-gap-block) var(--gap-inline);

    .month {
        .month-title {
            margin-bottom: calc(var(--gap-block) * 1.25);
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-light);
            text-align: center;
            opacity: .4;
            cursor: default;
            user-select: none;
        }

        .month-days {
            display: grid;
            grid-template-columns: repeat(var(--grid-day-columns), 1fr);
            gap: var(--gap-month-days);
        }
    }

    .day {
        --day-color: var(--color-light);
        --day-border-width: 1px;
        --day-border-color: var(--general-color);
        --day-border-color-transparent: transparent;
        --day-background-color: var(--general-color);
        --day-background-color-transparent: var(--transparent-color);
        --fake-days: 1;

        position: relative;
        aspect-ratio: 4 / 5;
        min-height: 0; /* fix for safari */
        min-width: 0; /* fix for safari */
        align-content: center;
        font-size: var(--day-font-size);
        text-decoration: none;
        color: var(--day-color);
        background-color: color-mix(in oklch, var(--day-background-color) var(--day-background-color-transparent), transparent);
        border: var(--day-border-width) solid color-mix(in oklch, var(--day-border-color) var(--day-border-color-transparent), transparent);
        border-radius: var(--day-border-radius);
        cursor: pointer;
        user-select: none;
        transition: transform .15s;

        & > span {
            display: block;
            text-align: center;
            transition: transform .15s;
        }

        .day-badges {
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            right: -2px;
            top: -2px;
        }

        .day-badge {
            --day-badge-general-color: var(--general-color);
            --day-badge-border-color: var(--day-badge-general-color);
            --day-badge-border-color-transparent: 25%;
            --day-badge-background-color: var(--day-badge-general-color);
            --day-badge-background-color-transparent: 100%;

            display: inline-block;
            width: var(--day-badge-size, 6px);
            height: var(--day-badge-size, 6px);
            margin-left: -2px;
            border: 1px solid color-mix(in srgb, var(--day-badge-border-color) var(--day-badge-border-color-transparent), var(--background-color));
            border-radius: 50%;
            background-color: color-mix(in srgb, var(--day-badge-background-color) var(--day-badge-background-color-transparent), var(--background-color));
            z-index: auto;

            &.hidden {
                display: none;
            }

            &:nth-child(1) {
                z-index: 10;
            }

            &:nth-child(2) {
                z-index: 9;
            }

            &:nth-child(3) {
                z-index: 8;
            }
        }

        &.fake-day {
            grid-column: span 1 / calc(var(--fake-days) + 1);
            cursor: default;
            opacity: 0;
        }

        &.day-inactive {
            color: color-mix(in oklch, var(--day-color) 60%, transparent);
            opacity: .5;
        }

        &.day-current {
            --day-border-color-transparent: 100% !important;
            font-weight: var(--font-weight-bold);

            & > span {
                transform: scale(1.5);
            }
        }

        &.day-past:not([data-general-type]) {
            /* past days */

            --general-color: var(--color-green);
        }

        &:not(.day-past) {
            /* empty current and future days */

            --day-color: var(--color);
            --day-border-color-transparent: 3%;
            --day-background-color-transparent: 2%;

            .day-badge {
                --day-badge-border-color-transparent: 10%;
                --day-badge-background-color-transparent: 50%;
            }

            &.day-weekend {
                --day-color: color-mix(in oklch, var(--color) 60%, transparent);
                --day-background-color-transparent: 4%;
            }

            &[data-general-type] {
                /* future events */

                --day-color: var(--general-color);
                --day-border-color-transparent: 5%;
                --day-background-color-transparent: 15%;

                [data-theme="dark"] & {
                    --day-color: color-mix(in srgb, var(--general-color) var(--transparent-color-tiny), var(--color));
                }
            }
        }

        &:hover {
            & > span {
                transform: scale(1.5);
            }
        }
    }

    .card-calendar-mood & {
        --gap-month-days: calc(var(--gap-inline) / 4);
        --day-font-size: var(--font-size-medium);
        --day-border-radius: var(--border-radius);

        display: block;

        .day {
            aspect-ratio: 1;
        }
    }
}

.calendar-upcoming-notifications {
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: padding-block .15s;

    .notifications-body {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: calc(var(--gap-block) / 3);
        padding-right: var(--body-gap-inline);

        .notification-text {
            --notification-background-color-transparent: 10%;

            font-size: var(--font-size-small);

            & > strong {
                display: inline-flex;
                padding: .15rem .25rem;
                color: var(--general-color);
                border-radius: calc(var(--border-radius) / 2);
                background-color: color-mix(in srgb, var(--general-color) var(--notification-background-color-transparent), var(--background-color));

                [data-theme="dark"] & {
                    color: color-mix(in srgb, var(--general-color) var(--transparent-color-tiny), var(--color));
                }
            }
        }

        .notifications-arrow {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            transform: rotate(90deg);
            transform-origin: center;
            transition: transform .15s;
        }
    }

    :root:not([data-calendar-notifications="open"]) & {
        padding-block: calc(var(--body-gap-block) / 2);

        .notifications-body {
            flex-direction: row;
            align-items: center;

            .notification-text {
                --margin-offset: calc(var(--gap-block) / 3 * -1);

                transition: margin .15s;

                &:first-child {
                    margin-right: calc(var(--margin-offset) / 2);
                }

                &:not(:first-child) {
                    margin-left: calc(var(--margin-offset) * 2);
                    font-size: 0;

                    > strong {
                        --notification-background-color-transparent: 50%;

                        padding: calc(var(--gap-block) / 2) calc(var(--gap-block) / 1.5);
                        border: calc(var(--border-width) * 2) solid var(--background-color);
                    }
                }

                & > strong {
                    border-radius: calc(var(--border-radius) * 1.5);
                }

                & > span {
                    font-size: 0;
                }
            }

            .notifications-arrow {
                top: calc(50% - calc(var(--font-size) / 2));
                transform: rotate(0);
                transition: top .15s, transform .15s;
            }
        }
    }
}

@media (576px <= width < 768px) {
    .calendar {
        --grid-month-columns: 3;
        --gap-month-days: .3vw;
        --day-font-size: 1.9vw;
        --day-badge-size: 1vw;
    }
}

@media (768px <= width < 992px) {
    .calendar {
        --grid-month-columns: 4;
        --gap-month-days: .25vw;
        --day-font-size: 1.4vw;
        --day-badge-size: .75vw;
    }
}

@media (992px <= width < 1200px) {
    .calendar {
        --grid-month-columns: 6;
        --gap-month-days: .2vw;
        --day-font-size: .9vw;
        --day-badge-size: .5vw;
    }
}

@media (width >= 1200px) {
    .calendar {
        --grid-month-columns: 6;
        --gap-month-days: 3px;
        --day-font-size: 0.65em;
        --day-border-radius: 7px;
        --day-badge-size: 6px;

        .calendar-body {
            max-width: 1200px;
        }
    }
}

@media (width >= 1400px) {
    .calendar {
    }
}

.calendar-event {
    display: flex;
    gap: calc(var(--gap-inline) / 2);
    align-items: center;
    padding: calc(var(--gap-block) / 2) var(--gap-inline);
    border: var(--border-width) solid color-mix(in oklch, var(--general-color) 20%, transparent);
    border-radius: var(--border-radius);
    background-color: color-mix(in oklch, var(--general-color) 10%, transparent);

    & + & {
        margin-top: calc(var(--gap-block) / 2);
    }

    .calendar-event-type {
        display: inline-flex;
        padding: calc(var(--control-padding-block) / 1.5) calc(var(--control-padding-inline) / 1.5);
        color: var(--color-light);
        font-weight: var(--font-weight-bold);
        border-radius: calc(var(--border-radius) / 2);
        background-color: color-mix(in oklch, var(--general-color) var(--transparent-color), transparent);
    }

    form {
        margin-left: auto;
    }
}

.card-calendar-mood {
    max-width: 400px;
}

.card-mood-chart {
    padding-block: 0;

    .mood-chart {
        --chart-padding: var(--body-gap-block);
        --chart-columns: 60;
        --chart-bar-height: calc(var(--body-gap-block) / 2);
        --chart-bar-position: 3;

        display: grid;
        grid-template-columns: repeat(var(--chart-columns), 1fr);
        gap: 1px;
        height: calc(var(--chart-bar-height) * 5 + var(--chart-padding) * 2);

        .chart-day {
            position: relative;
            overflow: hidden;

            &[data-type="great"] {
                --chart-bar-position: 1;
            }

            &[data-type="good"] {
                --chart-bar-position: 2;
            }

            &[data-type="bad"] {
                --chart-bar-position: 4;
            }

            &[data-type="terrible"] {
                --chart-bar-position: 5;
            }

            &:not([data-general-type]) {
                --general-color: var(--border-color);
            }

            .chart-day-type {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: var(--chart-bar-height);
                top: calc(var(--chart-bar-height) * calc(var(--chart-bar-position) - 1) + var(--chart-padding));
                font-size: 0;
                color: var(--color-light);
                border-radius: 2px;
                background-color: color-mix(in oklch, var(--general-color) var(--transparent-color), transparent);
                box-shadow: 0 12px 24px var(--general-color, var(--border-color));
                transition: height .15s, font-size .15s, transform .15s;
            }

            &[data-general-type]:hover .chart-day-type {
                height: calc(var(--chart-bar-height) * 2);
                font-size: var(--font-size-small);
                transform: translateY(calc(var(--chart-bar-height) / 2 * -1));
            }
        }
    }
}

.weekly-reflection {
    display: flex;
    flex-direction: column;
    gap: calc(var(--body-gap-block) / 1.5);

    .week {
        --week-columns: 3;

        .week-title {
            font-size: var(--font-size-small);
            opacity: .8;

            > a {
                display: inline-flex;
                padding: calc(var(--gap-block) / 2) calc(var(--gap-inline) / 2);
                text-decoration: none;
                transition: color .15s;

                &:not(:hover) {
                    color: var(--color);
                }
            }
        }

        .week-body {
            display: grid;
            grid-template-columns: repeat(var(--week-columns), 1fr);
            gap: calc(var(--body-gap-inline) / 2);
        }
    }

    .alert {
        display: grid;
        grid-template-rows: auto 1fr;
        gap: calc(var(--gap-block) / 2);
        margin-bottom: 0;
        overflow: hidden;

        .alert-title {
            display: flex;
            align-items: center;
            gap: calc(var(--gap-inline) / 4);
            padding-top: 2px;
            font-size: var(--font-size-small);
            color: color-mix(in srgb, var(--alert-color) var(--transparent-color-tiny), var(--color));
            cursor: default;
            opacity: .7;
        }

        .alert-body {
            position: relative;
            display: flex;
            align-items: center;
            color: var(--color);

            &.private {
                &:after {
                    content: '';
                    position: absolute;
                    inset: calc(calc(var(--gap-block) / 2) * -1);
                    backdrop-filter: blur(5px);
                    transition: backdrop-filter .15s;
                }

                &:hover:after {
                    backdrop-filter: blur(0);
                    transition: backdrop-filter .5s;
                }
            }

            &.private-secure {
                min-height: var(--font-size);
                justify-content: center;
                color: color-mix(in srgb, var(--alert-color) 30%, var(--color) 10%);
                border-radius: calc(var(--border-radius) / 2);
                background-color: color-mix(in oklch, var(--alert-color) 10%, transparent);
                box-shadow: 0 0 10px color-mix(in oklch, var(--alert-color) 20%, transparent);
            }
        }

        &.alert-empty {
            --alert-background-color-transparent: 3%;

            border-style: dashed;

            .alert-body {
                min-height: var(--font-size);
            }
        }
    }

    &.weekly-reflection-form {
        .alert {
            gap: calc(var(--gap-block) / 1.5);

            .alert-body {
                flex-direction: column;
                align-items: flex-start;
                gap: calc(var(--gap-block) / 2);

                .alert-form-textarea {
                    width: 100%;
                }

                .form-control,
                .form-check-input:not(:checked) {
                    background-color: color-mix(in oklch, var(--background-color) 40%, transparent);
                }

                .form-check-label {
                    font-size: var(--font-size-small);
                }
            }
        }
    }
}
