:root {
    --color: #212529;
    --body-background-color: #f9f9f9;
    --background-color: #fff;
    --border-color: #dee2e6;

    --color-light: var(--body-background-color);
    --color-dark: var(--color);
    --color-inverse: var(--color-light);

    --color-blue: #0d6efd;
    --background-color-blue: #6ea8fe;
    --color-indigo: #6610f2;
    --background-color-indigo: #a370f7;
    --color-purple: #6f42c1;
    --background-color-purple: #a98eda;
    --color-pink: #d63384;
    --background-color-pink: #e685b5;
    --color-red: #dc3545;
    --background-color-red: #ea868f;
    --color-orange: #fd7e14;
    --background-color-orange: #feb272;
    --color-yellow: #ffc107;
    --background-color-yellow: #ffda6a;
    --color-green: #198754;
    --background-color-green: #75b798;
    --color-teal: #20c997;
    --background-color-teal: #79dfc1;
    --color-cyan: #0dcaf0;
    --background-color-cyan: #6edff6;
    --color-gray: #6c757d;
    --background-color-gray: #adb5bd;

    --link-color: var(--color-blue);
    --link-background-color: var(--background-color-blue);

    --sidebar-width: 230px;
    --sidebar-collapsed-width: 67px;
    --header-height: 50px;
    --body-padding-inline: 1.5rem;
}

[data-theme="dark"] {
    --color: #dee2e6;
    --body-background-color: #212529;
    --background-color: #292d31;
    --border-color: #343a40;

    --color-light: var(--color);
    --color-dark: var(--body-background-color);
    --color-inverse: var(--color-dark);

    --background-color-blue: var(--color-blue);
    --background-color-indigo: var(--color-indigo);
    --background-color-purple: var(--color-purple);
    --background-color-pink: var(--color-pink);
    --background-color-red: var(--color-red);
    --background-color-orange: var(--color-orange);
    --background-color-yellow: var(--color-yellow);
    --background-color-green: var(--color-green);
    --background-color-teal: var(--color-teal);
    --background-color-cyan: var(--color-cyan);
    --background-color-gray: var(--color-gray);
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    margin: 0;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--color);
    background-color: var(--body-background-color);
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;

    > .sidebar {
        grid-row: 1 / 3;
    }

    > .header {
        grid-row: 1;
        grid-column: 2;
    }

    > .body {
        grid-row: 2;
        grid-column: 2;
    }
}

h6, h5, h4, h3, h2, h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    --link-color-transparent: 90%;

    color: color-mix(in srgb, var(--link-color) var(--link-color-transparent), var(--color));
    text-decoration: underline;

    &:hover {
        --link-color-transparent: 100%;
    }
}

button {
    border-radius: 0;

    &:focus:not(:focus-visible) {
        outline: 0;
    }

    &:not(:disabled) {
        cursor: pointer;
    }
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
}

.icon-fix-top {
    transform: translateY(-1px);
}

.sidebar {
    --sidebar-padding-inline: .75rem;

    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    width: var(--sidebar-width);
    border-right: 1px solid var(--border-color);
    background-color: var(--background-color);
    z-index: 50;

    .site-logo {
        display: flex;
        align-items: center;
        height: var(--header-height);
        padding-inline: var(--sidebar-padding-inline);
        border-bottom: 1px solid var(--border-color);

        .site-logo-link {
            display: flex;
            align-items: center;
            gap: .25rem;
            width: 100%;
            padding: .5rem;
            font-size: 1.25rem;
            color: var(--color);
            text-decoration: none;
            transition: color .15s;

            > svg {
                height: 1.7rem;
                width: 1.7rem;
                color: var(--link-color);
            }

            &:hover {
                color: var(--link-color);
            }
        }
    }

    .navbar {
        padding: 1rem var(--sidebar-padding-inline);
        overflow-y: auto;

        .navbar-nav {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            padding: 0;
            margin: 0;
            list-style: none;

            .nav-item {
                .nav-link {
                    display: flex;
                    gap: .5rem;
                    width: 100%;
                    padding: .75rem;
                    color: var(--color);
                    text-decoration: none;
                    background: none;
                    border: 0;
                    border-radius: .5rem;
                    transition: color .15s, background-color .15s;

                    &.active {
                        color: var(--link-color);
                        background-color: color-mix(in srgb, var(--link-color) 10%, transparent);
                    }

                    &:hover {
                        background-color: color-mix(in srgb, var(--color-gray) 10%, transparent);
                    }

                    .dropdown-toggle-chevron {
                        margin-left: auto;
                        transition: transform .15s;
                    }
                }

                .nav-dropdown {
                    display: none;
                    margin-top: .1rem;
                    margin-left: 1rem;
                    gap: .15rem;

                    .nav-link {
                        gap: .4rem;
                        padding: .6rem;
                        font-size: .875rem;
                        opacity: .75;
                    }
                }

                &.dropdown-active {
                    & > .nav-link {
                        .dropdown-toggle-chevron {
                            transform: rotate(90deg);
                        }
                    }

                    .nav-dropdown {
                        display: flex;
                    }
                }
            }

            .dropdown-divider {
                height: 0;
                overflow: hidden;
                border: 0;
                border-top: 1px solid var(--border-color);
                opacity: .5;
            }
        }
    }

    [data-sidebar="collapsed"] & {
        --sidebar-width: var(--sidebar-collapsed-width);

        .site-logo-link > span,
        .nav-link > span,
        .dropdown-toggle-chevron {
            display: none;
        }

        .nav-item.dropdown {
            & > .nav-link {
                cursor: default;
            }

            .nav-dropdown {
                position: absolute;
                display: inherit;
                left: -100vw;
                margin: 0;
                padding: .6rem .6rem .6rem 1.1rem;
                transform: translateY(-45px);
                opacity: 0;
                transition: opacity .15s;

                .nav-link {
                    white-space: nowrap;

                    & > span {
                        display: inherit;
                    }
                }

                &:before {
                    position: absolute;
                    content: '';
                    inset: 0;
                    left: .5rem;
                    border: 1px solid var(--border-color);
                    border-radius: .5rem;
                    background-color: var(--background-color);
                }

                &:after {
                    position: absolute;
                    content: '';
                    top: 21px;
                    left: 3px;
                    width: .6rem;
                    height: .6rem;
                    border-top: 1px solid var(--border-color);
                    border-left: 1px solid var(--border-color);
                    background-color: var(--background-color);
                    transform: rotate(-45deg);
                }
            }

            &:hover {
                .nav-dropdown {
                    left: calc(100% - var(--sidebar-padding-inline));
                    opacity: 1;
                }
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);

    .header-container {
        display: flex;
        gap: .5rem;
        width: 100%;
        align-items: center;
        padding-inline: var(--body-padding-inline);

        .header-button {
            display: flex;
            padding: .3rem .5rem;
            color: var(--color);
            border: 0;
            border-radius: .5rem;
            background: none;
            transition: color .15s, background-color .15s;

            &:hover,
            &:focus-visible {
                color: var(--link-color);
                background-color: color-mix(in srgb, var(--link-color) 10%, transparent);
            }

            &#theme-toggler {
                margin-left: auto;

                & > * {
                    display: flex;
                }

                & > .theme-dark {
                    display: none;
                }

                [data-theme="dark"] & {
                    & > .theme-light {
                        display: none;
                    }

                    & > .theme-dark {
                        display: inherit;
                    }
                }
            }
        }
    }
}

.body {
    overflow-y: auto;

    .body-container {
        padding: 1.5rem var(--body-padding-inline);
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color);
    appearance: none;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    transition: border-color .15s, box-shadow .15s;

    &:focus {
        color: var(--color);
        background-color: var(--background-color);
        border-color: color-mix(in srgb, var(--link-background-color) 50%, var(--border-color));
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    &::placeholder {
        color: color-mix(in srgb, var(--color) 25%, transparent);
        opacity: 1;
    }
}

.btn {
    --btn-general-color: var(--color);
    --btn-color: var(--color-inverse);
    --btn-border-color: var(--btn-general-color);
    --btn-border-color-transparent: 90%;
    --btn-background-color: var(--btn-general-color);
    --btn-background-color-transparent: 90%;

    display: inline-flex;
    gap: .375rem;
    align-items: center;
    padding: .375rem .75rem;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.25;
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid color-mix(in srgb, var(--btn-border-color) var(--btn-border-color-transparent), transparent);
    border-radius: .5rem;
    background-color: color-mix(in srgb, var(--btn-background-color) var(--btn-background-color-transparent), transparent);
    transition: color .15s, background-color .15s, border-color .15s;

    &:hover {
        --btn-border-color-transparent: 100%;
        --btn-background-color-transparent: 100%;
    }

    &:focus-visible {
        outline: 0;
    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }

    &.btn-primary {
        --btn-general-color: var(--color-blue);
    }

    &.btn-success {
        --btn-general-color: var(--color-green);
    }

    &.btn-danger {
        --btn-general-color: var(--color-red);
    }

    &.btn-warning {
        --btn-general-color: var(--color-yellow);
    }

    &.btn-info {
        --btn-general-color: var(--color-cyan);
    }

    &.btn-secondary {
        --btn-general-color: var(--color-gray);
    }

    &.btn-outline {
        &:not(:hover) {
            --btn-color: var(--btn-general-color);
            --btn-background-color-transparent: 0%;
        }
    }

    &.btn-transparent {
        --btn-color: var(--btn-general-color);
        --btn-border-color-transparent: 0%;
        --btn-background-color-transparent: 15%;

        &:hover {
            --btn-background-color-transparent: 25%;
        }
    }
}

.alert {
    --alert-color: var(--color);

    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    color: color-mix(in srgb, var(--alert-color) 90%, var(--color));
    border: 1px solid color-mix(in srgb, var(--alert-color) 25%, transparent);
    border-radius: .5rem;
    background-color: color-mix(in srgb, var(--alert-color) 15%, transparent);

    a {
        color: inherit;
        font-weight: 500;
    }

    &.alert-primary {
        --alert-color: var(--color-blue);
    }

    &.alert-success {
        --alert-color: var(--color-green);
    }

    &.alert-danger {
        --alert-color: var(--color-red);
    }

    &.alert-warning {
        --alert-color: var(--color-yellow);
    }

    &.alert-info {
        --alert-color: var(--color-cyan);
    }

    &.alert-secondary {
        --alert-color: var(--color-gray);
    }
}

.card {
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid color-mix(in srgb, var(--border-color) 50%, transparent);
    border-radius: .5rem;
    background-color: var(--background-color);
}

.calendar-pagination {
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-bottom: 1rem;

    .page-link {
        display: inline-flex;
        padding: .25rem;
        font-size: .875rem;
        color: var(--color);
        text-decoration: none;
        opacity: .7;
        transition: color .15s, opacity .15s;

        & > svg {
            --link-transform-rotate: ;
            --link-transform-translate: ;

            transition: transform .15s;
            transform: var(--link-transform-rotate) var(--link-transform-translate);
        }

        &.page-link-prev > svg {
            --link-transform-rotate: rotate(180deg);
        }

        &:hover {
            color: var(--link-color);
            opacity: 1;

            & > svg {
                --link-transform-translate: translateX(2px);
            }
        }
    }

    h2 {
        margin-bottom: 0;
        cursor: default;
    }
}

.calendar {
    --grid-month-columns: 2;
    --gap-month-days: .5vw;
    --grid-day-columns: 7;
    --day-font-size: 2.8vw;
    --day-border-radius: calc(var(--day-font-size) / 1.6);
    --day-badge-size: 1.4vw;

    display: grid;
    grid-template-columns: repeat(var(--grid-month-columns), 1fr);
    gap: 1.5rem 1rem;

    .month {
        .month-title {
            margin-bottom: 10px;
            font-size: 1rem;
            text-align: center;
            opacity: .4;
            cursor: default;
            user-select: none;
        }

        .month-days {
            display: grid;
            grid-template-columns: repeat(var(--grid-day-columns), 1fr);
            gap: var(--gap-month-days);
        }
    }

    .day {
        --day-general-color: var(--color);
        --day-color: var(--color-light);
        --day-border-width: 1px;
        --day-border-color: var(--day-general-color);
        --day-border-color-transparent: transparent;
        --day-background-color: var(--day-general-color);
        --day-background-color-transparent: 60%;
        --fake-days: 1;

        position: relative;
        aspect-ratio: 4 / 5;
        min-height: 0; /* fix for safari */
        min-width: 0; /* fix for safari */
        align-content: center;
        font-size: var(--day-font-size);
        color: var(--day-color);
        background-color: color-mix(in srgb, var(--day-background-color) var(--day-background-color-transparent), transparent);
        border: var(--day-border-width) solid color-mix(in srgb, var(--day-border-color) var(--day-border-color-transparent), transparent);
        border-radius: var(--day-border-radius);
        cursor: default;
        user-select: none;
        transition: transform .15s;

        [data-theme="dark"] & {
            --day-background-color-transparent: 90%;
        }

        & > span {
            display: block;
            text-align: center;
        }

        &.fake-day {
            grid-column: span 1 / calc(var(--fake-days) + 1);
            opacity: 0;
        }

        &.day-inactive {
            color: color-mix(in srgb, var(--day-color) 50%, transparent);
            opacity: .5;
        }

        &.day-current {
            --day-border-color-transparent: 100% !important;
            font-weight: 400;

            & > span {
                transform: scale(1.5);
            }
        }

        &:not(.day-past, [data-type]) {
            /* empty current and future days */

            --day-color: var(--color);
            --day-border-color-transparent: 3%;
            --day-background-color-transparent: 3%;
        }

        &.day-past {
            --day-general-color: var(--color-green);
        }

        &[data-type="blue"] {
            --day-general-color: var(--color-blue);
        }

        &[data-type="indigo"] {
            --day-general-color: var(--color-indigo);
        }

        &[data-type="purple"] {
            --day-general-color: var(--color-purple);
        }

        &[data-type="pink"] {
            --day-general-color: var(--color-pink);
        }

        &[data-type="red"] {
            --day-general-color: var(--color-red);
        }

        &[data-type="orange"] {
            --day-general-color: var(--color-orange);
        }

        &[data-type="yellow"] {
            --day-general-color: var(--color-yellow);
        }

        &[data-type="green"] {
            --day-general-color: var(--color-green);
        }

        &[data-type="teal"] {
            --day-general-color: var(--color-teal);
        }

        &[data-type="cyan"] {
            --day-general-color: var(--color-cyan);
        }

        &[data-type]:not(.day-past) {
            /* future events */

            --day-color: var(--day-general-color);
            --day-border-color-transparent: 5%;
            --day-background-color-transparent: 15%;

            [data-theme="dark"] & {
                --day-color: color-mix(in srgb, var(--day-general-color) 50%, var(--color));
                --day-border-color-transparent: 15%;
                --day-background-color-transparent: 25%;
            }
        }

        .day-badges {
            display: flex;
            flex-direction: row-reverse;
            position: absolute;
            right: -2px;
            top: -2px;

            .day-badge {
                display: inline-block;
                width: var(--day-badge-size, 6px);
                height: var(--day-badge-size, 6px);
                margin-left: -2px;
                border-width: 1px;
                border-style: solid;
                border-radius: 50%;
                z-index: auto;

                &.hidden {
                    display: none;
                }

                &:nth-child(0) {
                    z-index: 10;
                }

                &:nth-child(1) {
                    z-index: 9;
                }

                &:nth-child(2) {
                    z-index: 8;
                }
            }
        }
    }
}


@media (576px <= width < 768px) {
    .calendar {
        --grid-month-columns: 3;
        --gap-month-days: .3vw;
        --day-font-size: 1.9vw;
        --day-badge-size: 1vw;
    }
}

@media (768px <= width < 992px) {
    .calendar {
        --grid-month-columns: 4;
        --gap-month-days: .25vw;
        --day-font-size: 1.4vw;
        --day-badge-size: .75vw;
    }
}

@media (992px <= width < 1200px) {
    .calendar {
        --grid-month-columns: 6;
        --gap-month-days: .2vw;
        --day-font-size: .9vw;
        --day-badge-size: .5vw;
    }
}

@media (width >= 1200px) {
    .calendar {
        --grid-month-columns: 6;
        --gap-month-days: 2.5px;
        --day-font-size: 0.65em;
        --day-border-radius: 7px;
        --day-badge-size: 6px;

        .calendar-body {
            max-width: 1200px;
        }
    }
}

@media (width >= 1400px) {
    .calendar {
    }
}
