.body {
    padding-top: 0 !important;

    .body-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#login {
    .body-container {
        .browser-unsupport {
            @supports (z-index: sibling-index()) {
                display: none;
            }
        }

        .card-form {
            @supports not (z-index: sibling-index()) {
                display: none;
            }

            width: 100%;

            @media (width >= 576px) {
                width: 60vw;
            }

            @media (width >= 768px) {
                width: 400px;
            }
        }
    }

    .form-control {
        text-align: center;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        box-shadow: none;
    }

    .form-row-submit {
        justify-content: center;
    }
}
