.header {
    padding: calc(var(--gap-inline) / 2) 0 0;

    .header-container {
        background-color: transparent;
        backdrop-filter: none;
        border: none;
    }
}

.body {
    padding: 0 !important;

    .body-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100% !important;
    }
}

#login {
    .body-container {
        .browser-unsupport {
            @supports (z-index: sibling-index()) {
                display: none;
            }
        }

        form {
            width: 350px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-block);

            @supports not (z-index: sibling-index()) {
                display: none;
            }
        }
    }

    .form-control {
        padding-inline: 0;
        text-align: center;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        background-color: transparent;

        &:focus {
            background-color: transparent;
            box-shadow: none;
        }
    }

    .form-control-group {
        display: none;
        text-align: center;

        &.form-control-active {
            display: block;
        }
    }
}
