:root {
    --body-width: calc(600px + 2 * var(--container-gap-inline) + 2 * var(--body-gap-inline));
}

.header {
    padding: var(--header-gap-block) var(--body-gap-inline);

    .header-container {
        padding-inline: 0;
        background-color: transparent;
        border: none;

        & .header-logo {
            position: relative;
            left: 0;
            transform: none;

            & .header-logo-link {
                padding-left: calc(var(--control-padding-inline) / 1.5);
            }
        }
    }
}

.body {
    .body-container {
        max-width: var(--body-width);
        margin-inline: auto;
    }

    .footer-container {
        padding-left: var(--body-gap-inline);
    }
}

.report-title {
    text-align: center;
    font-weight: var(--font-weight-light);
    color: var(--color-secondary);

    .card + & {
        margin-top: calc(var(--body-gap-block) * 1.5);
    }
}

.card {
    margin-bottom: calc(var(--body-gap-block) / 1.5);

    hr {
        margin-block: calc(var(--container-gap-block) / 1.5);
        width: 100%;
        border: 0;
        border-bottom: var(--border-width) solid var(--border-color-divider);
    }

    .card-title {
        &.card-title-controls:not(:is(:last-child)) {
            margin-bottom: calc(var(--container-gap-block) / 1.5);
        }

        .card-title-progress {
            flex: 1;

            .progress-group {
                width: 90%;
                margin-left: auto;

                @media (width >= 576px) {
                    width: 80%;
                }

                .progress {
                    --progress-height: calc(var(--gap-block) / 3);

                    @media (width >= 576px) {
                        --progress-height: calc(var(--gap-block) / 2);
                    }
                }

                .progress-text {
                    font-size: inherit;
                }
            }
        }
    }
}

.upcoming-events-report {
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--gap-block) / 2) calc(var(--gap-inline) / 1.5);

    .upcoming-event-text {
        --ue-background-color-transparent: 5%;

        position: relative;
        gap: calc(var(--gap-inline) / 4);
        align-items: center;
        display: inline-flex;

        & > strong {
            font-weight: var(--font-weight);
        }

        .upcoming-event-badge {
            --ueb-size: calc(var(--font-size-small) * 0.75);

            position: absolute;
            top: calc(-1 * var(--ueb-size) / 2);
            right: calc(-1 * var(--ueb-size) / 1.5);
            padding: calc(var(--gap-block) / 8) calc(var(--gap-inline) / 4);
            font-size: var(--ueb-size);
            color: var(--color-tertiary);
            border: var(--border-width) solid color-mix(in srgb, var(--general-color) var(--ue-background-color-transparent), transparent);
            border-radius: var(--ueb-size);
            background-color: color-mix(in oklch, var(--background-color) 10%, transparent);
            backdrop-filter: blur(3px);
        }
    }
}

.mood-reflections {
    --mrd-size: calc(var(--font-size) / 4);
    --mrd-translate: calc(var(--mrd-size) / 2);

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--mrd-size) / 4);
    margin-block: calc(var(--gap-block) / 4);

    @media (width >= 576px) {
        --mrd-size: calc(var(--font-size) / 2);
    }

    .mood-reflection-dot {
        width: calc(var(--mrd-size) / 1.5);
        height: var(--mrd-size);
        border-radius: calc(var(--mrd-size) / 2);
        background-color: color-mix(in oklch, var(--general-color) var(--transparent-color), transparent);

        &.empty-dot {
            opacity: 20%;
        }

        &[data-type="terrible"] {
            transform: translateY(calc(var(--mrd-translate) * 2));
        }

        &[data-type="bad"] {
            transform: translateY(var(--mrd-translate));
        }

        &[data-type="good"] {
            transform: translateY(calc(var(--mrd-translate) * -1));
        }

        &[data-type="great"] {
            transform: translateY(calc(var(--mrd-translate) * -2));
        }
    }
}

.mood-reflection-messages {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap-block) / 4) calc(var(--gap-inline) / 2);

    .mood-reflection-message {
        color: var(--general-color);
        font-size: var(--font-size-extra-small);
        font-weight: var(--font-weight-light);

        & > strong {
            font-size: var(--font-size-small);
        }
    }
}

.weekly-reflections {
    display: flex;
    flex-direction: column;
    gap: calc(var(--container-gap-block) / 3);

    .weekly-reflection-joy {
        position: relative;
        padding: calc(var(--gap-block) / 6) calc(var(--gap-inline) / 1.5);
        font-size: var(--font-size-extra-small);
        font-weight: var(--font-weight-light);
        color: var(--color-secondary);
        border-left: calc(var(--border-width) * 2) solid var(--color-green);
        border-radius: calc(var(--border-radius) / 4);

        @media (width >= 576px) {
            font-size: var(--font-size-small);
        }

        &.private {
            &:after {
                content: '';
                position: absolute;
                inset: calc(-1 * var(--font-size) / 8);
                left: calc(var(--font-size) / 8);
                backdrop-filter: blur(3px);
                transition: opacity .15s;
            }

            &:hover {
                &:after {
                    opacity: 0;
                    transition: opacity .5s;
                }
            }
        }

        &.private-secure {
            min-height: var(--font-size);
            color: color-mix(in srgb, var(--color) 20%, var(--color-inverse));
            border-color: color-mix(in srgb, var(--color-green) 40%, transparent);
        }
    }
}

.workouts-report {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap-block) / 4) calc(var(--gap-inline) / 4);

    .workout-exercise-report {
        display: inline-flex;
        align-items: center;
        column-gap: calc(var(--gap-inline) / 4);
        padding: calc(var(--gap-block) / 8) calc(var(--gap-inline) / 2);
        font-size: var(--font-size-small);
        color: var(--general-color);
        border-radius: var(--border-radius);
        background-color: color-mix(in oklch, var(--general-color) 5%, transparent);

        [data-theme="dark"] & {
            color: color-mix(in srgb, var(--general-color) var(--transparent-color-tiny), var(--color));
        }

        .exercise-progress {
            display: inline-flex;
            align-items: center;
            column-gap: calc(var(--gap-inline) / 8);
            font-size: var(--font-size-extra-small);
            color: var(--color-green);

            svg {
                font-size: var(--font-size);
            }

            &[data-change="decreased"] {
                color: var(--color-red);

                svg {
                    transform: scaleY(-1);
                }
            }
        }
    }
}

.report-navigation {
    display: flex;
    align-items: center;
    width: 100%;

    .page-link {
        --pl-color-transparent: 3%;

        display: inline-flex;
        padding: calc(var(--gap-block) / 3) calc(var(--gap-inline) / 2);
        font-size: var(--font-size-small);
        text-decoration: none;
        color: var(--color-secondary);
        border-radius: var(--border-radius);
        transition: color .15s, background-color .15s;

        &.page-link-prev {
            padding-left: calc(var(--gap-inline) / 3);

            & > svg {
                transform: rotate(180deg);
            }
        }

        &.page-link-next {
            padding-right: calc(var(--gap-inline) / 3);
            margin-left: auto;
        }

        &:not(.page-link-disabled):hover,
        &:not(.page-link-disabled):focus-visible {
            --pl-color-transparent: 10%;
            color: var(--primary-color);
            background-color: color-mix(in oklch, var(--primary-color) var(--pl-color-transparent), transparent);

            [data-theme="dark"] & {
                --pl-color-transparent: 15%;
            }
        }

        &.page-link-disabled {
            cursor: default;

            & > * {
                opacity: .2;
            }
        }
    }
}
